@model IEnumerable<Product>


@foreach (var item in Model)
{
	<article class="row align-items-center hover-up">
		<figure class="col-md-4 mb-0">
			@if (item.productImgs.FirstOrDefault(pi=>pi.IsFront) != null)
			{
				<a asp-action="Details" asp-controller="Product"><img src="~/imgs/products/@item.productImgs.FirstOrDefault(pi => pi.IsFront == true).Img" alt="" /></a>
			}
			else
			{
			<a asp-action="Details" asp-controller="Product"><img src="~/imgs/products/404.jpg" alt="" /></a>
			
			}
		</figure>
		<div class="col-md-8 mb-0">
			<h6>
				<a href="shop-product-right.html">@item.Name</a>
			</h6>
			<div class="product-rate-cover">
				<div class="product-rate d-inline-block">
					<div class="product-rating" style="width:@(item.Raiting*20)%"></div>
				</div>
				<span class="font-small ml-5 text-muted"> @item.Raiting</span>
			</div>
			<div class="product-price">
				<span>$@item.Price</span>
				<span class="old-price">$33.8</span>
			</div>
		</div>
	</article>
}

