@model List<Slider>
@{
    ViewData["Title"] = "Index";
}
@section styles{
    <style>
        .table img.img-sm {
            width: 40vh !important;
            height: 10vh !important;
        }
    </style>
}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Sellers list</h2>
        <div>
            <a asp-action="Create" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Slider item in Model)
                        {
                            <tr>
                                <td width="40%">
                                    <img src="~/imgs/slider/@item.Img" class="img-sm" alt="Slider image" />
                                </td>
                                <td>@Html.Raw(item.Title)</td>
                                <td>@(item.Desc != null? (item.Desc.Length > 50?item.Desc.Substring(0,47)+"...": item.Desc):(""))</td>
                                <td class="text-end">
                                    <form method="post">
                                        <a asp-action="Update" asp-route-id=@item.Id class="btn btn-sm btn-brand rounded font-sm mt-15">Edit</a>
                                        <button type="submit" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-google rounded font-sm mt-15 delete-btn">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- table-responsive.// -->
            </div>
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function Del() {
            Swal.fire({
                title: 'Delete>',
                icon: 'info',
                html:
                    'Are you sure <b>Delete</b>, ' +
                    showCloseButton: true,
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'delete',
                cancelButtonText:
                    'cancel',

            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    fetch(url)
                    Swal.fire('deleted')
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            }
   $(document).ready(function () {
       $(document).on("click", ".delete-btn", function (e) {
           e.preventDefault();
           console.log($("this").attr("href"))
       })
   })
    </script>
}