@model Category
@{
    ViewData["Title"] = "Update";
}


<section class="content-main">
	<div class="row">
		<div class="col-9">
			<div class="content-header">
				<h2 class="content-title">Edit Catrgory:@Model.Name</h2>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card mb-4">
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">
						<div class="mb-4">
							<label asp-for="Name" class="form-label">Name</label>
							<input asp-for="Name" value="@Model.Name" placeholder="Type here" class="form-control" />
							<span class="text-danger" asp-validation-for="Name"></span>
						</div>
						<div class="mb-4">
							<label asp-for="File" class="form-label">Photos (first selected will be front)</label>
							<input asp-for="File" class="form-control" />
							<span class="text-danger" asp-validation-for="File"></span>
						</div>
						<div class="mt-5">
							<a asp-action="Index" class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</a>
							<button type="submit" class="btn btn-md rounded font-sm hover-up">Update</button>
						</div>
					</form>
				</div>
			</div>
			<!-- card end// -->

		</div>
	</div>
</section>

@section scripts{
	<partial name="~/Areas/Manage/Views/Shared/_ValidationPartial.cshtml" />
}